h1, h2, h3, p { margin-bottom: 6pt; margin-top: 6pt; }
body, p, h1, h2, h3 { font-family: Helvetica; }
dt, dd { font-size: 8pt; }
code { font-family: Helvetica; }

#guide {
    position: absolute;
    right:10px;
    top: 10px;
    width: 400px;

    padding: 5pt;
    padding-top: 0px;

    z-index: 10;

    color: black;
    background-color: white;
    border: solid 1px black;
}
